@charset "UTF-8";
/* CSS Document */


/* FONTS */
/*
font-family: 'Roboto', sans-serif;
*/

/* BREAKPOINTS */
/*
@media (min-width: 576px){}
@media (min-width: 768px){}
@media (min-width: 992px){}
@media (min-width: 1200px){}
@media (min-width: 1400px){}
*/


/* $Base
--------------------------------------- */
html, body{ background-color: #002042;}
html{ scroll-behavior: smooth;}
body{ -webkit-font-smoothing: antialiased; text-shadow: rgba(0,0,0,.01) 0 0 1px; font-family: "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;}

.vh-100{ min-height: 100vh;}

a{ color: inherit; text-decoration: none; box-shadow: none;}
  a:hover, a:focus, a:active{ color: inherit; box-shadow: none;}


.hero{ background: #002042 url('../images/bg.png') no-repeat -150px center; background-size: cover;}

  .heading{ font-family: 'Press Start 2P', cursive; text-shadow: 0px 4px #AFF12D; color: #fff;}
  .subheading{ color: #AFF12D; text-transform: uppercase; font-size: 14px; font-weight: 800;}

@media (min-width: 768px){
  .hero{ background: #002042 url('../images/bg.png') no-repeat center center; background-size: cover;}
}


/*  */
