::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: var(--gray-darkest);
}

::-webkit-scrollbar-thumb {
	background: var(--green-light);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--green-dark);
}